<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body>
<div layout:fragment="content">

    <section class="container-fluid" data-section="home">

        <!-- Personal Flexy Section -->
        <div class="row flex-row">
            <!-- Personal Details 01 -->
            <div id="details" class="col-md-7 flex-column bg-color01 light nopadding"
                 data-animation-origin="left"
                 data-animation-duration="300"
                 data-animation-delay="400"
                 data-animation-distance="200px">
                <div class="padding-50 flex-panel">
                    <div class="row row-no-padding">
                        <div class="col-md-12 nopadding">
                            <h3 class="font-accident-two-normal uppercase title">Perfil</h3>
                            <!--<div class="quote">
                                <h4 class="font-accident-two-normal uppercase subtitle">Perfect for CV / Resume or
                                    Portfolio Website</h4>
                                <div class="dividewhite3"></div>
                            </div>-->
                        </div>
                    </div>
                    <div class="divider-dynamic"></div>
                    <div class="row nopadding">
                        <div class="col-md-12 infoblock nopadding">
                            <p>Sou graduando do último período em Análise e Desenvolvimento de Sistemas pela
                                Universidade Tecnológica Federal do Paraná (UTFPR) na cidade de Pato Branco PR.</p>
                            <p>Trabalho com desenvolvimento de sistemas a mais de 3 anos, apaixonado por tecnologia
                                e desenvolvimento de software.</p>
                            <p>Acredito que a tecnologia pode mudar o mundo e melhorar nossas vidas.</p>
                        </div>
                        <!--<div class="col-md-4 infoblock nopadding">
                            <div class="row">
                                <div class="col-xs-12 col-sm-1 col-md-3"><i class="flaticon-pie-graph color-blue"></i>
                                    <div class="dividewhite1"></div>
                                </div>
                                <div class="col-xs-12 col-sm-11 col-md-9">
                                    <h4 class="font-accident-two-medium uppercase">Simple CV</h4>
                                    <p class="">
                                        Gridus Personal Template is the simple, clean and stylish fully-responsive
                                        resume theme with modern creative design.
                                    </p>
                                </div>
                            </div>
                            <div class="divider-dynamic"></div>
                        </div>
                        <div class="col-md-4 infoblock nopadding">
                            <div class="row">
                                <div class="col-xs-12 col-sm-1 col-md-3"><i class="flaticon-tool-1 color-blue"></i>
                                    <div class="dividewhite1"></div>
                                </div>
                                <div class="col-xs-12 col-sm-11 col-md-9">
                                    <h4 class="font-accident-two-medium uppercase">Responsive</h4>
                                    <p class="">
                                        Works fast and looks fine on any device with the wide range of the screen
                                        resolution. Supports all the Google SEO rules.
                                    </p>
                                </div>
                            </div>
                            <div class="divider-dynamic"></div>
                        </div>-->

                    </div>
                </div>
            </div>
            <!-- /Personal Details 01 -->

            <!-- Personal Details 02 -->
            <div id="personal" class="col-md-5 flex-column light ui-block-color01 personal"
                 data-animation-origin="right"
                 data-animation-duration="500"
                 data-animation-delay="600"
                 data-animation-distance="100px">
                <div class="padding-50 flex-panel">
                    <h3 class="font-accident-two-normal uppercase title">Informações pessoais</h3>
                    <div class="dividewhite4"></div>
                    <div>
                        <div class="fullwidth box">
                            <div class="one"><p class="uppercase">Nome:</p></div>
                            <div class="two"><p class="">João Paulo Merlin</p></div>
                        </div>
                        <div class="fullwidth box">
                            <div class="one"><p class="uppercase text-nowrap">Nascimento:</p></div>
                            <div class="two"><p class="">24/01/1994</p></div>
                        </div>
                        <div class="fullwidth box">
                            <div class="one"><p class="uppercase">Endereço:</p></div>
                            <div class="two"><p class="">756, Av. Brasil, Pato Braco, PR, Brazil</p></div>
                        </div>
                        <div class="fullwidth box">
                            <div class="one"><p class="uppercase">Telefone:</p></div>
                            <div class="two"><p class="">+55 (46) 99976-0166</p></div>
                        </div>
                        <div class="fullwidth box">
                            <div class="one"><p class="uppercase">Email:</p></div>
                            <div class="two"><p class="">joao.p.merlin@gmail.com</p></div>
                        </div>
                    </div>
                    <div class="dividewhite1"></div>
                </div>
            </div>
            <!-- /Personal Details 02 -->
        </div>
        <!-- /Personal Flexy Section -->

    </section>

    <section id="professional" class="container-fluid" data-section="home">

        <div class="row flex-row">

            <div id="pro-experience" class="col-md-4 flex-column dark nopadding ui-block-color02 flex-col"
                 data-animation-origin="bottom"
                 data-animation-duration="300"
                 data-animation-delay="800"
                 data-animation-distance="200px">
                <div class="padding-50 flex-panel">
                    <h3 class="font-accident-two-normal uppercase title">Empregos</h3>
                    <div class="dividewhite4"></div>
                    <div class="experience">
                        <ul class="">
                            <li class="date">02/2015 - Hoje</li>
                            <li class="company uppercase">
                                <a>
                                    VIASOFT - Softwares Empresariais
                                </a>
                            </li>
                            <li class="position">Desenvolvedor pleno</li>
                        </ul>
                        <ul class="">
                            <li class="date">10/2013 - 01/2015</li>
                            <li class="company uppercase">
                                <a>
                                    ADM. Sistemas
                                </a>
                            </li>
                            <li class="position">Analista implantador</li>
                        </ul>
                        <!--<ul class="">
                            <li class="date">06/2012 - present</li>
                            <li class="company uppercase">
                                <a>
                                    Google Inc. Dublin.
                                </a>
                            </li>
                            <li class="position">UI/UX Designer</li>
                        </ul>-->
                    </div>
                    <a href="/experiencia" class="btn btn-wh-trans btn-xs">Ver mais</a>
                    <div class="dividewhite1"></div>
                </div>
            </div>
            <div id="circle-skills" class="col-md-8 flex-column dark nopadding ui-block-color03 flex-col"
                 data-section="progress"
                 data-animation-origin="right"
                 data-animation-duration="400"
                 data-animation-delay="1100"
                 data-animation-distance="200px">
                <div class="padding-50 flex-panel">
                    <h3 class="font-accident-two-normal uppercase title">Habilidades profissionais</h3>
                    <div class="dividewhite1"></div>
                    <div class="row">

                        <div class="col-md-4 col-sm-4 col-xs-12 nopadding">
                            <div class="progressbar text-center">
                                <div id="circle1"
                                     data-progressbar="circle"
                                     data-progressbar-color="#fff"
                                     data-progressbar-trailcolor="#fff"
                                     data-progressbar-to='{"color": "#51f2ec", "width": 4}'
                                     data-progressbar-from='{"color": "#3498db", "width": 4}'
                                     data-progressbar-value="1">
                                </div>
                                <h4 class="font-accident-two-bold uppercase">Java</h4>
                                <p class="font-regular-normal">
                                    Experiência com diversos frameworks Java...
                                </p>
                                <a href="/experiencia" class="btn btn-wh-trans btn-xs">Ver mais</a>
                            </div>
                            <div class="dividewhite1"></div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12 nopadding">
                            <div class="progressbar text-center">
                                <div id="circle2"
                                     data-progressbar="circle"
                                     data-progressbar-color="#fff"
                                     data-progressbar-trailcolor="#fff"
                                     data-progressbar-to='{"color": "#ffd200", "width": 4}'
                                     data-progressbar-from='{"color": "#3498db", "width": 4}'
                                     data-progressbar-value="0.9">
                                </div>
                                <h4 class="font-accident-two-bold uppercase">Web</h4>
                                <p class="font-regular-normal">
                                    Experiência com diversos frameworks Javascript...
                                </p>
                                <a href="/experiencia" class="btn btn-wh-trans btn-xs">Ver mais</a>
                            </div>
                            <div class="dividewhite1"></div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12 nopadding">
                            <div class="progressbar text-center">
                                <div id="circle3"
                                     data-progressbar="circle"
                                     data-progressbar-color="#fff"
                                     data-progressbar-trailcolor="#fff"
                                     data-progressbar-to='{"color": "#F09C88", "width": 4}'
                                     data-progressbar-from='{"color": "#3498db", "width": 4}'
                                     data-progressbar-value="0.8">
                                </div>
                                <h4 class="font-accident-two-bold uppercase">SQL</h4>
                                <p class="font-regular-normal">
                                    Experiêcia com diversos bancos de dados relacionais e NoSql...
                                </p>
                                <a href="/experiencia" class="btn btn-wh-trans btn-xs">Ver mais</a>
                            </div>
                            <div class="dividewhite1"></div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </section>

</div>
</body>
</html>